header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}

header:hover{
    opacity: 1;
}

.top-navigation input{
    font-size: 25px;
    border-style: none;
    outline: none;
    padding: 10px;
    background-color: var(--button-color);
    color: black;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
    width: 100%;
    border-radius: 25px;
    text-align: center;
}

.top-navigation input:focus{
    width: 150%;
}

#top-navigation-toggle{
    border: 0px;
    background: transparent;
    outline: none;
    background-size: 100%;
}

#top-navigation-toggle img{
    width: 10%;
    height: 10%;
    margin: auto;
}
