.map_background{
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    border: 0px;
    filter:blur(20px);

}

.register-panel
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    position:relative;
}
.btn-go-to-map button{
    outline: none;
    border: 0;
    background-color: var(--main-color);
    color: white;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

form, button{
    margin: auto;
    width: 50%;
    text-align: center;
}

form .text_intro{
    text-align: center;
}

form input{
    margin-left: 0px;
}

.large-container{
    width: 50%;
}