.title_text {
  font-family: Arial;
  font-size: 22px;
  color:#3b3f3c;
  margin-left:15px;
  margin-top:10px;
}

.subtitle_text{
  font-family: Arial;
  font-size:16px;
  color:#434745;
  margin-left:10px;
  margin-top:5px;
}

.text {
  font-family: Arial;
  position:relative;
  font-size:12px;
  color:#515654;
  margin-left:5px;
  margin-top:2px;
}

input[type=text],input[type=password], select {
    width: 80%;
    margin: 8px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    text-align: center;
    box-sizing: border-box;
    margin-left:10%;
}

input[type=button]{
  width:80%;
  margin-left:10%;
  margin-top:10px;
  background-color: #4fba6f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  cursor:pointer;
}


input[value=Facebook]{
  width:80%;
  margin-left:10%;
  margin-top:10px;
  background-color: #3b5998;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  cursor:pointer;
}

input[value="Google+"]{
  width:80%;
  margin-left:10%;
  margin-top:10px;
  background-color: #d34836;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  cursor:pointer;
}
