@import url("./text_standards.css");

:root{
    --main-color: #94cea1;
    --accent-color: #ffffff;
    --button-color: #4fba6f;
}

::placeholder{
    color: black;
}

.button{
    background: transparent;
    outline: none;
    border: 0px;
    background-size: 100%;
    opacity: 1;
}