header{
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.75;
}

header:hover{
    opacity: 1;
}

.top-navigation input{
    font-size: 25px;
    border-style: none;
    outline: none;
    padding: 10px;
    background-color: var(--main-color);
    border: 2px solid white;
    color: black;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 100%;
    border-radius: 25px;
}

::placeholder {
    color: white;
}

.top-navigation input:focus{
    width: 150%;
}

#top-navigation-toggle{
    border: 0px;
    background: transparent;
    outline: none;
    background-size: 100%;
}

#top-navigation-toggle img{
    width: 10%;
    height: 10%;
    margin: auto;
}
