.title_text_intro {
  font-family: Arial;
  font-size: 42px;
  color:#3b3f3c;
}

.subtitle_text_intro {
  font-family: Arial;
  font-size:16px;
  color:#434745;
}

.text_intro {
  font-family: Arial;
  text-indent: 30px;
  text-align: justify;
  font-size: 22px;
  color:#515654;
}

input[type=text],input[type=password], select {
    width: 80%;
    margin: 8px;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:10%;
}

input[type=submit]{
  width:80%;
  margin-left:10%;
  margin-top:10px;
  background-color: #4fba6f;
  color: white;
  padding: 10px;
  border-radius: 5px;
  border:none;
  cursor:pointer;
}
