.PRT_Logo{
  position:relative;
  left:50%;
  margin-left:-188px;
}
.summary
{
  position:relative;
  width: 400px;
  height: auto;
  left: 37%;
  margin-top:30px;
}

.presentation_block_left{
  margin-top:200px;
  width:90%;
  height:400px;
  margin-left: 15px;
  position: relative;
  display:flex;
  flex-direction: row;
}

.presentation_block_right{
  margin-top:200px;
  width:90%;
  height:400px;
  display:flex;
  margin-right: 15px;
  flex-direction: row;
  float:right;
  margin-bottom:200px;
}

footer {
margin-top:100px;
}
a{
  margin-left:5%;
}
.map_background{
  position: fixed;
  z-index: auto;
  width: 100%;
  height: 100%;
  border: 0px;
  filter:blur(20px);
  z-index:-2;
}


.present_images {
  display:flex;
  flex-direction:column;
  border-radius: 10px;
  border-style: groove;
  transition: all 0.5s ease-out;
  transform-origin:center;
}

.present_images:hover {
  transform:scale(1.1);
}
