#add-report-button{
    position: fixed;
    left: 90%;
    top: 85%;
    border: 0px;
    background: transparent;
}

.top-navigation{
    justify-content: center;
    position: absolute;
    align-items: center;
    align-self: center;
    display: inline-block;
}

#top-navigation-toggle{
    border: 0px;
    background: transparent;
    align-content: center;
}

#top-navigation-toggle img{
    width: 50%;
    height: 50%;
}