.add-report{
    position: fixed;
    display: inline-block;
    text-align: center;
    left: 80%;
    top: 60%;
}

#add-report-items ul{
    text-align: center;
    background-color: lightslategray;
    list-style-type: none;
    display: block;
}

#add-report-items li{
    padding:8px 16px;
    width: auto;
    border: none;
    display: block;
    outline: 0px;
    font-size: 20px;
}

#add-report-items li:hover{
    background-color: #2980B9;
}

#add-report-button{
    position: fixed;
    border: 0px;
    background: transparent;
    outline: none;
    -webkit-transition: -webkit-transform .25s ease-in-out;
    transition: transform .25s ease-in-out;
}

#add-report-button:hover{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

#add-report-button:hover .add-report ul{
    display:block;
}

.top-navigation{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.top-navigation input{
    font-size: 30px;
    border-style: none;
    border-radius: 50px;
    outline: none;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
    width: 30%;
    padding: 10px;
    margin-top: 1%;
    background-color: limegreen;
    color: white;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.top-navigation input:focus{
    width: 50%;
}

#top-navigation-toggle{
    border: 0px;
    background: transparent;
    outline: none;
}

#top-navigation-toggle img{
    width: 10%;
    height: 10%;
}

@media only screen and (min-width: 800px) {
    #top-navigation-toggle img {
        display: none;
    }
}