.top-navigation{
    position: absolute;
    display: inline-block;
    text-align: center;
    width: 80%;
    margin-left: 10%;
}

.top-navigation input{
    font-size: 25px;
    border-style: none;
    border-radius: 50px;
    outline: none;
    width: 25%;
    padding: 10px;
    margin-top: 1%;
    background-color: rgba(63, 191, 63, 128);
    color: white;
    align-content: center;
    opacity: 0.75;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

::placeholder {
    color: white;
    opacity: 1; /* Firefox */
}

.top-navigation input:hover{
    opacity: 1;
}

.top-navigation input:focus{
    width: 50%;
    opacity: 1;
}

#top-navigation-toggle{
    border: 0px;
    background: transparent;
    outline: none;
}

#top-navigation-toggle img{
    width: 10%;
    height: 10%;
}

@media only screen and (min-width: 800px) {
    #top-navigation-toggle img {
        display: none;
    }
}

.add-report{
    position: absolute;
    width: 50%;
    bottom: 5%;
    left: 25%;
}

.add-report .stage1{
    background-color: limegreen;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}