.user_icon {
  position:absolute;
  display: inline-block;
  margin-top:2%;
  margin-left:2%;
  position:relative;
  transition:0.5s;
}

.user_menu {
  background-color: #94cea1;
  height:100%;
  width:250px;
  position:fixed;
  top:0;
  left:-250px;
  transition:0.5s;
  overflow-x: hidden;
  border-radius: 10px;
}

.user_menu_logo {
  width: 90%;
  height: auto;
  padding-top: 10px;
  padding-left:10px;
}

input[type=text], select {
    width: 80%;
    margin: 8px 0;
    padding: 10px;
    display: inline-block;
    border: 1px solid #ffffff;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left:10%;
}
